@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #242333
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0; 
}

.movie-container {
    margin: 1.25rem 0
}

.movie-container select {
    background-color: #fff;
    border: none;
    border-radius: .3125rem;
    font-size: .875rem;
    margin-left: .625rem;
    padding: .3125rem .9375rem .3125rem .9375rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    perspective: 62.5rem;
    margin-bottom: 1.875rem;
}








